:root {
  --color-bg-light: #f9fbff;
  --color-dark-blue: #415167;
  --color-accent: #c7a17a;
  --color-text-main: #232c38;
  --color-text-dark-blue: #415167;
  --color-text-light: #f9fbff;

  --container-width: 1440px;

  --font-main: "Nunito", sans-serif;
  --font-heading: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-text-main);
  font-family: var(--font-main);
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: var(--font-heading);
}

button {
  padding: 0;
  border: none;
  outline: inherit;
  background: none;
  font: inherit;
  transition: all 0.3s ease;
}

button:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  color: var(--color-text-dark-blue);
}

.section-header__slogan {
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.section-header__title {
  font-family: var(--font-heading);
  font-size: 30px;
  font-weight: 900;
  line-height: 34px;
}

.btn:hover {
  transform: scale(1.02);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.btn--primary {
  padding: 5px 23px;
  background: var(--color-accent);
  color: var(--color-text-light);
}

.btn--secondary {
  padding: 5px 10px;
  background: transparent;
  color: var(--color-text-dark-blue);
}

.btn--large--primary {
  padding: 8px 40px;
}

.btn--large--secondary {
  padding: 8px 15px;
}

.hero {
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  width: calc((100vw - 1440px) / 2 + 354px);
  height: 100%;
  background: var(--color-dark-blue);
}

.hero__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 768px;
  padding: 0 144px;
}

.hero__logo {
  max-width: 110px;
  max-height: 36px;
}

.hero__info {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 408px;
}

.hero__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  justify-content: center;
  font-family: var(--font-heading);
  font-size: 54px;
  font-weight: 900;
  line-height: 70px;
}

.hero__text-line {
  display: block;
  color: var(--color-text-dark-blue);
  white-space: pre-wrap;
}

.hero__text-line--highlight {
  display: block;
  align-self: stretch;
  padding: 1px 15px;
  background: var(--color-accent);
  color: var(--color-text-light);
}

.hero__image-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  left: calc(50% - 324px);
  width: 690px;
  height: 100%;
  z-index: 0;
  background: url(img/hero-img.png) 50% / cover no-repeat;
}

.hero__nav {
  align-self: flex-start;
  margin-top: 96px;
  position: relative;
  color: var(--color-text-light);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 126px;
}

.hero__cart {
  width: 33px;
  height: 31px;
}

.hero__nav-link--header {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  font-style: bold;
  line-height: 24px;
}

.hero__nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  align-self: stretch;
  justify-content: center;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
}

.hero__play-btn {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hero__play-icon {
  fill: var(--color-accent);
  position: absolute;
  top: 19px;
  right: 19px;
  width: 12px;
  height: 16px;
}

.features {
  position: relative;
}

.features__container {
  display: flex;
  flex-direction: column;
  gap: 90px;
  justify-content: center;
  min-height: 583px;
}

.features__cards {
  display: flex;
  gap: 66px;
  justify-content: center;
  flex-wrap: wrap;
}

.features__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 226px;
  height: 230px;
}

.features__card-icon {
  max-height: 80px;
  object-fit: contain;
}

.features__card-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 100%;
}

.features__card-title {
  color: var(--color-text-main);
  font-family: var(--font-main);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.features__card-text {
  color: var(--color-text-main);
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}

.catalog {
  position: relative;
}

.catalog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: calc((100vw - 1440px) / 2 + 400px);
  height: 100%;
  background: var(--color-dark-blue);
}

.catalog__container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  min-height: 895px;
  padding: 85px 0;
}

.catalog__slider {
  display: flex;
  position: relative;
  align-items: center;
  align-self: stretch;
  justify-content: flex-start;
  padding: 24px 0 24px 145px;
}

.catalog__next-btn {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background: var(--color-accent);
  border: none;
  cursor: pointer;
  margin-left: 79.375%;
}

.catalog__track {
  display: flex;
  gap: 30px;
  align-items: center;
}

.catalog__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 560px;
}

.catalog__product {
  display: flex;
  gap: 45px;
  align-items: center;
  width: 560px;
  padding-right: 42px;
  background: #fff;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
}

.catalog__product-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.catalog__product-image {
  flex-shrink: 0;
  width: 235px;
  height: 256px;
}

.catalog__product-info {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 238px;
}

.catalog__product-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.catalog__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.catalog__price {
  color: #c7a17a;
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.catalog__product-name {
  color: #232c38;
  font-family: var(--font-main);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.catalog__product-desc {
  color: #151d28;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}

.catalog__actions {
  display: flex;
  gap: 19px;
  align-items: center;
}

.giftset {
  position: relative;
  padding: 100px 0;
}

.giftset::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: calc((100vw - 1440px) / 2 + 1095px);
  height: 100%;
  background: #edf0f5;
}

.giftset__container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 82px;
}

.giftset__wrapper {
  display: flex;
  align-items: center;
  margin-left: 27.5%;
}

.giftset__card {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 794px;
  min-height: 459px;
  padding: 10px 85px 10px 279px;
  background: #fff;
  box-shadow: 1px 0 10px 0 rgba(205, 205, 205, 0.5);
}

.giftset__image {
  position: absolute;
  top: 0;
  left: -253px;
  width: 460px;
  height: 459px;
  object-fit: cover;
}

.giftset__content {
  display: flex;
  flex-direction: column;
  gap: 43px;
  align-items: flex-start;
}

.gifset__information {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.giftset__text {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 430px;
}

.giftset__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.giftset__price {
  color: var(--color-accent);
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.giftset__title {
  color: var(--color-text-dark-blue);
  font-family: var(--font-main);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.giftset__description {
  color: #151d28;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}

.giftset__features {
  display: flex;
  gap: 71px;
  align-items: center;
}

.giftset__feature {
  display: flex;
  gap: 19px;
  align-items: center;
}

.giftset__feature-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.giftset__feature-label {
  color: var(--color-text-dark-blue);
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.giftset__feature-value {
  color: var(--color-text-dark-blue);
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.giftset__actions {
  display: flex;
  gap: 110px;
  align-items: center;
}

.giftset__tabs {
  display: flex;
  flex-direction: column;
  width: 88px;
}

.giftset__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 153px;
  background: rgba(237, 240, 245, 0.3);
  color: var(--color-text-dark-blue);
  font-family: var(--font-heading);
  font-size: 30px;
  font-weight: 900;
  opacity: 0.3;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.giftset__tab:hover {
  opacity: 0.6;
}

.giftset__tab--active {
  background: #fff;
  box-shadow: 1px 0 10px 0 rgba(205, 205, 205, 0.5);
  opacity: 1;
}

.combo {
  position: relative;
  padding: 100px 0;
}

.combo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: calc((100vw - 1440px) / 2 + 345px);
  height: 100%;
  background: #415167;
}

.combo__container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 46px;
  align-items: center;
}

.combo__slider {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
  padding: 24px 0 24px 150px;
}

.combo__track {
  display: flex;
  gap: 30px;
}

.combo__track::-webkit-scrollbar {
  display: none;
}

.combo__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 360px;
  gap: 47px;
  min-height: 562px;
  background: #fff;
  box-shadow: 0 4px 24px 0 rgba(205, 205, 205, 0.5);
}

.combo__card-img {
  width: 100%;
  object-fit: cover;
}

.combo__card-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
  padding: 0 42px 37px 42px;
  width: 100%;
}

.combo__card-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.combo__card-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.combo__price-wrap {
  display: flex;
  gap: 19px;
  align-items: center;
}

.combo__price {
  color: var(--color-accent);
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.combo__old-price {
  color: #415167;
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  text-decoration: line-through;
}

.combo__card-title {
  color: #232c38;
  font-family: var(--font-main);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
}

.combo__card-desc {
  color: #151d28;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}

.combo__actions {
  display: flex;
  gap: 56px;
  align-items: center;
  width: 100%;
}

.combo__next-btn {
  position: absolute;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--color-accent);
  border: none;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 78.5417%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 19px 0;
  background: #edf0f5;
}

.footer__text {
  color: #415167;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  line-height: 22px;
  text-align: center;
}
